@font-face {
    font-family: "iran";
    src: url('./font/iran.woff2') format("woff2");
}

:root {
    --main-font: "iran";
    --bg-main: yellowgreen;
    --title-box: 24px;
    --size-icon: 30px;
    --tw-bg-opacity: 1;
    --bg-btn-header: rgb(255 112 67/var(--tw-bg-opacity, 1));
    --text-orange: rgb(255 110 64/var(--tw-text-opacity, 1));
}

html,
body {
    font-family: var(--main-font);
    /* background: var(--bg-main); */
    /* font-size: var(--title-box); */
}

.size-6 {
    width: var(--size-icon);
    height: var(--size-icon);
}

.btn-orange {
    background-color: var(--bg-btn-header);
    color: white;
}

.text-orange {
    color: var(--text-orange);
}

.bg-heroSection {
    background-image: url('./images/insight-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.btn-animation {
    background: #ff7043;
    background: linear-gradient(50deg, #ff7043 8%, #ffbeaa 18%, #ff7043 28%);
    border-radius: 12px;
    background-size: 200% 100%;
    animation: shine 2s linear infinite;
    color: white;
    transition: all 1s ease;
}


.btn-animation:hover {
    color: white !important;
    /* width: 100% !important; */
    padding: 8px 66px !important;
    border-radius: 30px !important;
}

@keyframes shine {
    to {
        background-position-x: -200%
    }
}

.svg-animation {
    animation: bounce 1s infinite;
}

@keyframes bounce {

    0%,
    to {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(.8, 0, 1, 1)
    }

    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, .2, 1)
    }
}

.line-title {
    width: 7px;
    height: 30px;
    background: var(--text-orange);
    border-radius: 20px;
}

.box-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.icon-wrap {
    position: relative;
    width: 81px;
    height: 80px;
}

.icon {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.icon.base {
    opacity: 1;
    transform: scale(1);
}

.icon.hover {
    opacity: 0;
    transform: scale(0.9);
}

.box-item:hover .icon.base {
    opacity: 0;
    transform: scale(0.9);
}

.box-item:hover .icon.hover {
    opacity: 1;
    transform: scale(1);
}

.text-justify {
    font-size: 14px;
    text-align: justify;
    line-height: 2rem;
}

.line-dashed {
    width: 50px;
    height: 1px;
    border: 1px dashed purple;
    transition: border 10s ease;
}
.line-dashed-primary {
    width: 50px;
    height: 1px;
    border: 1px dashed blue;
    transition: border 10s ease;
}

.box-item:hover .line-dashed,
.box-item:hover .line-dashed-primary {
    border: none;
}

.btn-purple {
    width: 65%;
    height: 50px;
    background: purple;
    border-radius: 12px;
    color: white;
    transition: all 0.5s ease;
}
.btn-blue {
    width: 65%;
    height: 50px;
    background: blue;
    border-radius: 12px;
    color: white;
    transition: all 0.5s ease;
}
.box-item:hover .btn-purple,
.box-item:hover .btn-blue {
    color: white ;
    width: 100% ;
    /* padding-right: 80px !important;
    padding-left: 80px !important; */
    border-radius: 30px ;
}
.box-item:hover .text-purple {
    color: blue;
}

.bg-information{
    background: #eff6ff ;
}


.bg-faq{
    height: 70px;
    background-image: url('./images/guide-background.svg');
    background-size:cover ;
}
.accordion-button::after {
    margin-right: auto !important;
    margin-left: 0 !important;
}
.bg-footer{
    background-image: url('./images/footer-background.png');
    background-repeat:no-repeat ;
    background-size:cover ;
}